@import "../../styles/settings.scss";

.columnForm {
  text-align: center;
  padding: 10px;
}

.inputStyle {
  padding: 10px;
  border-radius: 5px;
}

.inputText {
  padding: 10px;
}

@media (max-width: 670px) {
  .columnForm {
    flex-direction: column;
  }
}
